#define dark_black       #000000
#define dark_red         #ff8177
#define dark_green       #bce401
#define dark_yellow      #ffe361
#define dark_blue        #93b7ff
#define dark_magenta     #fc9bfc
#define dark_cyan        #87e4e4
#define dark_white       #7e7e7e

#define bright_black     #3d3d3d
#define bright_red       #fea099
#define bright_green     #e7fd81
#define bright_yellow    #fce889
#define bright_blue      #bfd4fd
#define bright_magenta   #fdbdfd
#define bright_cyan      #c2fcfc
#define bright_white     #d3d3d3

*color0:       darkBlack
*color1:       darkRed
*color2:       darkGreen
*color3:       darkYellow
*color4:       darkBlue
*color5:       darkMagentan
*color6:       darkCyan
*color7:       darkWhite

*color8:       lightBlack
*color9:       lightRed
*color10:      lightGreen
*color11:      lightYellow
*color12:      lightBlue
*color13:      lightMagentan
*color14:      lightCyan
*color15:      lightWhite

*foreground:   darkGreen
*background:   darkBlack
*cursorColor:  lightWhite
